---
layout: default
title: Home
---

<div class="welcome sc">
  Graphic Designer, Father, Occasional Woodworker
</div>

<div class="blog">
  <h2>Blog</h2>
  <ul class="post-list">
    {% for post in site.categories.blog %}
      <li><span class="exdent">{{ post.date | date: "%-d <em class='sc'>%b</em> %Y" }}</span> <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="work">
  <h2>Design</h2>
  <ul class="post-list">
    {% for post in site.categories.work %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div>