<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | Brian Nelson</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/742672/728522/css/fonts.css" />
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="site-title"><a href="/">{{ site.name }}</a></h1>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Brian Nelson<br />
                <a href="mailto: brian@briannelsondesign.com">Email me</a>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/briannelsondesign">github.com/briannelsondesign</a><br />
                <a href="https://twitter.com/briannelsondsgn">twitter.com/briannelsondsgn</a><br />
                <a href="http://www.flickr.com/photos/briannelsondesign/">flickr.com/photos/briannelsondesign/</a>
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
